<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="5" parallel="classes" >
    <test name="testGuru">
        <classes>
            <class name="LoginTest">
            </class>
            <class name="SearchTest">
            </class>
        </classes>
    </test>
</suite>